<div class="s s--buttons">
	<div class="row">
        <button class="ip-button ip-button--large">Load more</button>
        <button class="ip-button ip-button--large ip-button--radius">Sign Up</button>
        <button class="ip-button ip-button--large ip-button--round">Sign In</button>
        <button class="ip-button ip-button--large ip-button--round ip-button--inverse">Logout</button>
    </div>

    <div class="row">
        <button class="ip-button">Learn more</button>
        <button class="ip-button ip-button--radius">Buy now</button>
        <button class="ip-button ip-button--round">Order now</button>
        <button class="ip-button ip-button--round ip-button--inverse">Install</button>
        <button class="ip-button ip-button--radius ip-button--hamburger">
            <span class="ip-button__icon"></span>
	        <span class="ip-button__icon"></span>
		    <span class="ip-button__icon"></span>
        </button>
        <button class="ip-button ip-button--radius ip-button--circle"></button>
    </div>

    <div class="row">
        <button class="ip-button ip-button--small">Start</button>
        <button class="ip-button ip-button--small ip-button--radius">Download</button>
        <button class="ip-button ip-button--small ip-button--round">Share</button>
        <button class="ip-button ip-button--small ip-button--round ip-button--inverse">Free Trial</button>
        <button class="ip-button ip-button--small ip-button--radius ip-button--hamburger">
            <span class="ip-button__icon"></span>
	        <span class="ip-button__icon"></span>
		    <span class="ip-button__icon"></span>
        </button>
    </div>
</div>