<div class="s s--colors">
	<div class="ip-color ip-color--green">
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>

		<div class="ip-color__description">
			<p class="ip-color__name">Green</p>
			<p class="ip-color__hex">24aa98</p>
		</div>
	</div>

	<div class="ip-color ip-color--blue">
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>

		<div class="ip-color__description">
			<p class="ip-color__name">Blue</p>
			<p class="ip-color__hex">65abd0</p>
		</div>
	</div>

	<div class="ip-color ip-color--orange">
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>

		<div class="ip-color__description">
			<p class="ip-color__name">Orange</p>
			<p class="ip-color__hex">d9c26c</p>
		</div>
	</div>

	<div class="ip-color ip-color--red">
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>

		<div class="ip-color__description">
			<p class="ip-color__name">Red</p>
			<p class="ip-color__hex">db7560</p>
		</div>
	</div>

	<div class="ip-color ip-color--grey">
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>

		<div class="ip-color__description">
			<p class="ip-color__name">Grey</p>
			<p class="ip-color__hex">c6ccd2</p>
		</div>
	</div>

	<div class="ip-color ip-color--black">
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>
		<span class="ip-color__shade"></span>

		<div class="ip-color__description">
			<p class="ip-color__name">Black</p>
			<p class="ip-color__hex">383737</p>
		</div>
	</div>
</div>